---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

$font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$post-height: 50px;

html {
  height: 100%;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}


body {
  background: $lightGray;
  height: inherit;
  padding: 10px 0px;
  color: $darkerGray;
}

.wrapper {
  background: inherit;
  width: 100%;
  max-width: 850px;
  height: inherit;
  margin: auto;
  text-align: center;

}

.wrapper-header {
  height: $post-height;
  line-height: $post-height;
  text-align: left;
  background: $white;
  margin-bottom: 10px;
  padding: 0 10px;
  color: inherit;
}

.wrapper-posts {
  text-align: left;
  background: $white;
  padding: 0 15px 0 10px;
  min-height: calc(100% - 120px);
  color: inherit;
}

.page-wrapper-posts {
  text-align: left;
  background: $white;
  padding: 0 0px 0 0px;
  min-height: calc(100% - 120px);
  line-height: 2;
  color: inherit;
}

.wrapper-footer {
  text-align: center;
  margin: auto;
  font-size: 10px;
  height: $post-height;
  line-height: $post-height;
  color: $gray;
}

.page-post {
  padding: 15px;

}

.post {
  height: $post-height;
  border-bottom: 1px solid $lightGray;
}

.category-container {
  display: inline-block;
}

.category {
  font-size: 16px;
  height: $post-height;
  line-height: $post-height;
  padding: 5px 5px;
  border-radius: 4px;
  background: #f4f4f4;
}

.title {
  padding-left: 5px;
  font-size: 18px;
  height: $post-height;
  line-height: $post-height;
  margin-top: 0;
  letter-spacing: 0.05em;
  font-weight: normal;
}

.date {
  font-size: 12px;
  float: right;
  height: $post-height;
  line-height: $post-height;
}

p {
  text-indent:2em;
}


.page-date {
  text-align: right;
  font-size: 12px;
  height: $post-height;
  line-height: $post-height;
  color: $gray;
}

.page-post-title {
  font-size: 24px;
  height: $post-height + 10px;
  line-height: $post-height +10px;
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: normal;
}

.page-post-title-border {
  background: $lightGray;
  height: 1px;
  width: 80%;
  text-align: center;
  display: block;
  margin: auto;
}

.page-entry {
  padding-top: 10px;
}


.wrapper-footer {
  height: $post-height;
  background: $white;
  margin-top: 10px;
}


h1, h2, h3, h4, h5, h6 {
  color: $darkerGray;
  font-weight: lighter;

  line-height: 1.0;
  margin: 2em 0 5px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 24px;
  font-weight: normal;

  a {
    color: inherit;
  }
}

h2 {
  font-size: 22px;
  font-weight: normal;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
  color: $gray;
}

a {
  color: $darkerGray;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}

::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

@import "highlights";
@import "svg-icons";

